@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form {
  @apply flex flex-col gap-4;
}

h2 {
  @apply text-2xl font-bold;
}

.team-positions {
  display: grid;
  grid-template:
    "4 3 2"
    "5 6 1";
}
